header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color:black;
    height:91px;
}
.logoImg img{
    width:178px;
    height:60px;
    margin-left:29px;
    margin-top:19px;
    margin-right: 149px;
}