@import "../../styles/commun.scss";


.logoSportSee{
width:176px;
margin-left:29px;
}
header{ 
    height:72px;
    background-color:$colorBlack;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-top:19px;
   padding-right: 87px;
   
}