@import "../../styles/commun.scss";

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
     background-color:$colorBlack;
    height:91px;
}
.logoImg{
    width:178px; 
}
.logoImg img{
   
    height:60px;
    margin-left:29px;
    margin-top:19px;
    margin-right: 149px;
}