.bodyMassIndex{
    background-color: #FBFBFB;
    width:258px;
    height:128px;
    display: flex;
    align-items: center;
    
}
.bodyMass{
       color: black;
}
.iconeBodyMass{
    margin-left: 32px;
    margin-right: 29px;
}