@import "../../styles/commun.scss";

.bodyMassIndex{
    background-color: $colorGreylight;
    width:258px;
    height:128px;
    display: flex;
    align-items: center;
    
}
.bodyMass{
       color: $colorBlack;
   font-size: 20px;
}
.iconeBodyMass{
    margin-left: 32px;
    margin-right: 29px;
}
.typeBodyMass{
    font-size:14px;
    
}
@media #{$medium-down} {

    .bodyMassIndex{
        width:200px;
       
}}