@import "../../styles/commun.scss";

.bodyMassIndex{
    background-color: $colorGreylight;
    width:258px;
    height:128px;
    display: flex;
    align-items: center;
    
}
.bodyMass{
       color: $colorBlack;
       ;
}
.iconeBodyMass{
    margin-left: 32px;
    margin-right: 29px;
}