.score{
    text-align: center;
    background-color: #FBFBFB;
}
.titleScore{
   // outline:1px solid blue;
    position: relative;
    width: 50px;
    top: 24px;
    left: 30px;
    font-size:15px;
    font-weight: 500;
}
.txtObjectif{
    font-weight: 700;

}

.graphScore{
    font-size:26px;
    font-weight: 700;
}
.layoutScore{
  //  outline:1px solid green;
   width: 258px;
  height:263px;
}