@import "../../styles/commun.scss";
.containerGraph{
  margin-left:$marginLeftGraph;
}
.titleProfil {
    font-weight: 500;
  font-size: $fontSizeTitleProfil;
  display: flex;
  margin-top: 68px;
  margin-left:-4px;
  line-height: 24px;
  
}
.nameProfil{
  color:$colorRed;
}
.txtProfil {
  
  margin-top: 41px;
  display: flex;
  margin-bottom: 77px;
}
 .containerLittleGraph {
  width: 263px;
  height: 258px;
border-radius: 5px;

 }
.littleGraph{
  margin-top: 28px;
  width: $widthgraph;
  font-size: $fontSizeContainerLittleGraph;
  display: flex;
 justify-content:space-between;
 }
  
.dailyActivity {
   font-size: $fontSizeContainerMaxGraph;
  width: $widthgraph;
  height: 321px;
  background-color: $colorGreylight;
}

.averageSession {
  background-color: $colorRed;
  
}
.intensity {
  background-color: $colorGrey;
}
.score {
  background-color: $colorGreylight;
}

.containerBody {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 90px;
  top: 320px;
  
}
@media #{$medium-down} {
  .containerBody {
  
   flex-direction: row;
     right: 00px;
    top: 1000px;
  width:100%;
    height: auto;
  }
  .containerGraph{
    margin-left:10px;
  }
}