@import '../../styles/commun.scss';
.containerFirst{

   margin-left: 109px;
}
.titleProfil{
  outline: 1px solid green;
    font-weight: 500;
    font-size:$fontSizeTitleProfil;
    display: flex;
    margin-top:68px;
    line-height:24px;

}
.txtProfil{
  margin-top: 41px;
  display: flex;
  margin-bottom: 77px;
 }


.name{
color: $colorRed;
}
.littleGraph{
  display: flex; 
   justify-content:space-between;
  margin-top:90px;
  width:849px;

}
.dailyActivity{
  font-size: $fontSizeContainerMaxGraph;
  width:849px;
  height:320px;
  background-color:$colorGreylight;
}
.containerGraph{
  font-size: $fontSizeContainerLittleGraph;
  width:263px;
  height:258px;
}
.averageSession{
    background-color:$colorRed;
}
.intensity{
    background-color:$colorGrey;
}
.score{
    background-color:$colorGreylight;
}
.containerBody{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right:90px;
  top: 354px;
  height:656px;
}