@import "../../styles/commun.scss";
.containerProfil{
  margin-left:$marginLeftProfilGraph;
}
.nameProfil{
  color:$colorRed;
}
.titleProfil {
  font-weight: 500;
  font-size: $fontSizeTitleProfil;
  display: flex;
  margin-top: 68px;
  margin-left:-4px;
  line-height: 24px;
  }
.containerGraphUser{
  display: flex;
flex-wrap: wrap;
}
.txtProfil {
  margin-top: 41px;
  display: flex;
  margin-bottom: 77px;
}
.containerGraph{
    display: flex;
  flex-direction: column;
  outline: 1px green solid;
 }
 .averageSession, .intensity, .score{
  width: 263px;
  height: 258px;
border-radius: 5px;
 }
  
.dailyActivity {
  outline: 1px green solid;
   font-size: $fontSizeContainerMaxGraph;
  width: 100%;
  height: 321px;
  background-color: $colorGreylight;
}
.containerLittleGraphs{
  display: flex;
  margin-top:30px;
}
.averageSession {
  background-color: $colorRed;
  
}
.intensity {
  background-color: $colorGrey;
}
.score {
  background-color: $colorGreylight;
}

.containerBodyMass {
  outline: 1px green solid;
  display: flex;
 flex-direction: column;
 justify-content: space-between;
 right: 90px;
 top: 320px;
 height: 620px;
 margin-left:30px;
}

@media #{$medium-down} {
 .containerProfil{
  margin-left:30px;
}
.containerBodyMass {
  outline: 1px green solid;
  margin-top:30px;
 flex-direction: row;
 justify-content: space-between;
 right: 0px;
 
 height:auto;
 margin-left:0px;
}
}