$colorRed: #E60000;
$colorGreylight:#FBFBFB;
$colorGrey: #282D30;
$colorWhite: white;
$colorBlack: black;

$fontSizeContainerLittleGraph: 12px;
$fontSizeContainerMaxGraph: 15px;
$fontSizeTitleProfil:48px;