@import "../../styles/commun.scss";
.containerNav {
  margin-left: 149px;
  //outline:1px solid rgb(0, 83, 128);
  width: 100%;
}
.navigate {
  display: flex;
  justify-content: space-between;
}
.navigate a {
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-decoration: none;
  color: $colorWhite;
}
