.containerNav{
    font-size:24px;
    margin-right: 87px;
    width:100%;
  }
  .navigate{
    width:100%;
    display: flex;
    justify-content:space-around;
  }
.navigate a{
    text-decoration:none;
    color: white;
}

