@import '../../styles/commun.scss';

.containerDailyActivity{
    background-color: rgba(251, 251, 251, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
    width:835px;
    height:320px;
    }
    .containerTitleDailyActivity{
        width:140px;
        font-size: 15px;
        line-height: 24px;
        font-weight: 500;
    }
    
    .titleDailyActivity{
       //@include outline:2px solid green;
        position: relative;
        top: 24px;
        left: 32px;
     
    
    }

    .custom-tooltipDailyActivity{
        background-color:$colorRed;
        color:white;
        width:39px;
        height:63px;
        font-size:7px;
        margin-top:4px;
        text-align:center;
        align-items:center;
    }


    @media #{$large-down} {
        .containerDailyActivity{
            width:770px;
        }
    }
